$purple-plum: #585CE5;
$turquoise: #58C6CD;
$alert: #EF8B8B;

$violet: #A1A3F6;
$violet-light: #D0D1FF;

$peach: #EEC1C1;
$peach-light: #F5DEDE;

$baby-blue: #A6D0EE;
$baby-blue-light: #CFEBFF;

$lilac-petals: #FAFAFF;
$lilac-petals-dark: #F0F1F9;

$water: #99D7DB;
$water-light: #C9EBED;

$sunny-yellow: #F2D382;
$sunny-yellow-light: #FBECC4;

// BASIC
$white: #FFFFFF;
$light-grey: #E5E6EE;
$dark-grey: #898D9E;
$dust-grey: #B0B2C3;
$cold-grey: #415371;
$deep-blue: #0F2851;


// BACKGROUND
$main-background: #150D25;
